@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

:root {
  --primary-color: #7c93c3;
}
body {
  margin: 0;
  padding: 0;
}
.login {
  background-image: url(../assets/login_background.png);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.total-container {
  position: relative;
}

.login-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: #ffffff;
  font-weight: "bold";
  margin-top: 180px;
  font-family: "Noto Sans KR", sans-serif;
}

.login-container {
  position: absolute;
  width: 330px;
  height: 330px;
  top: 50%;
  left: 50%;
  margin: 270px 0 0 -195px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px 10px 20px 30px;
}
.input-box {
  width: 290px;
  height: 38px;
  border-radius: 7px;
  background-color: #333333;
  border-style: none;
  margin-bottom: 29px;
  padding: 10px;
  color: #ffffff;
  font-size: 13px;
}
.login-button {
  width: 310px;
  height: 55px;
  border-radius: 10px;
  background-color: var(--primary-color);
  border-style: none;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 0;
}
.sign-up-box {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  margin-top: 10px;
}
.sign-up-text {
  color: #ffffff;
  font-size: 12px;
  width: max-content;
}

.go-sign-up {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  width: max-content;
}
