@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400&display=swap");

.container {
  margin-left: 235px;
  font-family: "Noto Sans KR", sans-serif;
}

.banner {
  background-image: url(../assets/Group\ 36-3.png);
  background-repeat: no-repeat;
  z-index: -99;
  height: 400px;
  margin-top: -100px;
  margin-left: -40px;
}
.title {
  padding-top: 140px;
  margin-bottom: 45px;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 30px;
}
.intro-text {
  color: #ffffff;
  font-size: 20px;
  margin-left: 30px;
}
.go-talk {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  margin-top: 130px;
  margin-left: 30px;
}
/* 스크롤 바 디자인 숨기기 */
.chat-rooms {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 130px;
  margin-left: -10px;
}
.chat-rooms::-webkit-scrollbar {
  display: none;
}

.chat-box-rock,
.chat-box-kpop,
.chat-box-ballade,
.chat-box-dance,
.chat-box-jpop {
  flex: 0 0 auto; /* 고정된 너비로 설정 */
  width: 200px; /* 각 채팅방의 너비 설정 */
  margin-right: 20px; /* 각 채팅방 사이의 간격 설정 */
}

.chat-box-rock {
  position: relative;
  border-radius: 20px;
  width: 240px;
  height: 160px;
  background-image: url("../assets/rock.png");
  background-size: cover;
}
.chat-box-kpop {
  position: relative;
  border-radius: 20px;
  width: 240px;
  height: 160px;
  background-image: url("../assets/kpop.png");
  background-size: cover;
}
.chat-box-ballade {
  position: relative;
  border-radius: 20px;
  width: 240px;
  height: 160px;
  background-image: url("../assets/ballade.png");
  background-size: cover;
}
.chat-box-dance {
  position: relative;
  border-radius: 20px;
  width: 240px;
  height: 160px;
  background-image: url("../assets/dance.png");
  background-size: cover;
}

.chat-box-jpop {
  position: relative;
  border-radius: 20px;
  width: 240px;
  height: 160px;
  background-image: url("../assets/jpop.png");
  background-size: cover;
}
.chat-name {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 15px;
  margin-left: 15px;
  z-index: 99;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
