.ai-result-container {
  margin-left: 235px;
}

.composition-banner {
  background-image: url(../assets/Group\ 38.png);
  background-repeat: no-repeat;
  z-index: -99;
  margin-left: -34px;
  margin-top: -400px;
  height: 400px;
}
.composition-title {
  padding-top: 200px;
  margin-top: 260px;
  margin-bottom: 45px;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 30px;
}
.composition-intro {
  color: #ffffff;
  font-size: 20px;
  margin-left: 30px;
}
.loader {
  margin-top: -10px;
  margin-left: 100px;
}

.load-text {
  color: #ffffff;
  font-size: 20px;
  margin-left: -100px;
  margin-top: 50px;
}
.generated-by-ai {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding-top: 50px;
  margin-left: 200px;
}
.ai-song {
  display: flex;
  flex-direction: row;
  justify-content: right;

  color: #ffffff;
  font-size: 20px;
}

.ai-lyrics {
  color: #ffffff;
  font-size: 20px;
  width: 200px;
  letter-spacing: 1px;
}
.ai-chord {
  color: #ffffff;
  font-size: 20px;
  width: 200px;
  letter-spacing: 1px;
}
.ai-result-image {
  width: 250px;
  height: 250px;
}
.composition-main {
  background-size: cover;
  margin-left: -40px;
  padding-left: 20px;
  height: 600px;
}
.blur {
  background-color: rgba(108, 97, 97, 0.4);
  backdrop-filter: blur(15px);
  margin-left: -20px;
  padding-left: 20px;
  height: 100%;
  z-index: 99;
}
.song-info-box {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-left: 200px;
  margin-top: 40px;

  width: 500px;
  height: 250px;
}

.ai-bold-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn-cords {
  margin-top: 50px;
}
