:root {
  --primary-color: #7c93c3;
}

.static1-container {
  margin-left: 235px;
}
.static-banner {
  position: relative;
  background-image: url(../assets/Group\ 43.png);
  background-repeat: no-repeat;
  z-index: -99;
  margin-left: -40px;
  margin-top: -100px;
  height: 400px;
}
.static-head-title {
  position: absolute;
  bottom: 0;
  margin-bottom: 200px;
  margin-left: 30px;
  z-index: 100;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
.static-intro {
  position: absolute;
  bottom: 0;
  margin-bottom: 130px;
}
.static-intro {
  color: #ffffff;
  font-size: 20px;
  margin-left: 30px;
}
.charts {
  display: flex;
  flex-direction: row;
  position: relative;
}
.static-sub-title {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-around;
  gap: 100px;
  margin-right: 300px;
  margin-bottom: -80px;
}
.go-month-static {
  position: absolute;
  margin-left: 180px;
  bottom: 0;
  margin-bottom: 70px;
  background-color: var(--primary-color);
  width: max-content;
  padding: 10px;
  width: 150px;
  color: "#161728";
}
