.ai-result-container {
  display: flex;
  margin-top: 300px;
  margin-left: 700px;
  height: 100vh; /* 화면 전체 높이만큼의 공간을 차지합니다. */
}

.loader {
  margin-top: -10px;
  margin-left: 100px;
}

.load-text {
  color: #ffffff;
  font-size: 20px;
  margin-left: -100px;
  margin-top: 50px;
}
