:root {
  --primary-color: #7c93c3;
}

.container {
  position: relative;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  color: #ffffff;
  font-weight: "bold";
  margin-top: 130px;
}
.signup-container {
  position: absolute;
  width: 330px;
  height: 330px;
  top: 50%;
  left: 50%;
  margin: 270px 0 0 -195px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.input-box {
  width: 290px;
  height: 38px;
  border-radius: 7px;
  background-color: #333333;
  border-style: none;
  margin-bottom: 29px;
  padding: 10px;
  color: #ffffff;
  font-size: 13px;
}
.btn-pw {
  width: 310px;
  height: 55px;
  border-radius: 10px;
  background-color: var(--primary-color);
  border-style: none;
  color: #ffffff;
  font-size: 18px;
}
